/* Text alignment utilities */
.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

/* Menu styling */
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
    width: 100%;
}

nav ul li a {
    text-decoration: none;
    transition: color 0.3s;
}

/* Dropdown toggle base styles */
.dropdown-toggle {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    font-size: inherit;
    font-family: inherit;
    color: inherit;
}